.pageWrapper {
  min-height: 100vh;
}
.contentArea {
  flex-grow: 1;
  background-color: #e5e5e5;
}
.p-4 {
  padding: 0 16px !important;
}
.p-3 {
  padding: 4rem 0rem 0px 1rem !important;
}
.mb-0 {
  font-size: 40px;
  color: #697184;
}
.border-bottom {
  border-bottom: 0px solid #dee2e6 !important;
}
.second-title {
  margin-bottom: 0.5rem !important;
  padding: 1em 2.1em 0 !important;
  color: #697184 !important;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  width: 750px;
}
.conversation-input {
  padding: 0 2em 0 2em;
}

input {
  height: 48px;
  max-width: 360px;
}
.input-checkbox {
  font-size: 36px;
  width: 50px !important;
  color: #697184;
}
.exclude-flex {
  display: flex;
}
.checkbox-flex {
  display: flex;
  flex-direction: column;
  padding: 62px 0 0 0;
}
/////@at-root
.forms {
  padding: 30px;
}
.input-search {
  width: 100% !important;
  max-width: 750px !important;
  background-color: #e5e5e5;
  border: 1px solid #697184;
  border-radius: 10px;
}
.formlik {
  padding: 0 0 15px 0 !important;
  color: #697184;
  font-size: 24px;
}
.search-title h3 {
  color: #697184;
}
.search-right-flex {
  display: flex;
  width: 112px;
  flex-direction: column;
  margin: -32px 0px 0px 25px;
}
.search-first-right-flex {
  display: flex;
  width: 112px;
  flex-direction: column;
  margin: -32px 0 0 62px;
}
.search-part-right {
  width: 100%;
  max-width: 325px;
  padding: 94px 20px 0 18px;
  height: 100%;
  max-height: 690px;
}
.form-control {
  background-color: #e5e5e5;
  border: 1px solid gray;
  border-radius: 10px;
}
.max {
  padding: 10px 0 0 0;
  color: #697184;
  font-size: 24px;
}
.react-datepicker-wrapper {
  display: flex !important;
}

.start-date-div {
  padding: 12px 30px 0 0;
  color: #697184;
}
.end-date-div {
  padding: 12px 0 0 0;
  color: #697184;
}

.select-country {
  width: 360px;
  margin: 0 30px 0px 0;
}
.select-flex {
  display: flex;
  font-size: 24px;
  flex-flow: row wrap !important;
}
.date {
  display: flex;
  flex-flow: row wrap !important;
  font-size: 24px;
}
.btn-flex {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 26px 40px 30px 0;
}

.btn-next {
  display: inline-block;
  background-color: #a30000;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  width: 122px;
  height: 48px;
  transition: all 0.5s;
  cursor: pointer;
}

.btn-next span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-next span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-next:hover span {
  padding-right: 25px;
}

.btn-next:hover span:after {
  opacity: 1;
  right: 0;
}
.css-6j8wv5-Input {
  height: 44px !important;
  margin: 0 !important;
  padding: 0 !important;
}
.date .date-start,
.date-end {
  width: 360px;
  background-color: #e5e5e5;
  // height: 38px;
  padding: 0 0px 0 8px;
  border: 1px solid gray;
}
.css-1s2u09g-control {
  border: 1px solid gray !important;
  border-radius: 10px !important;
  background-color: #e5e5e5 !important;
}
.nav-link {
  padding: 14px 0 !important;
}
//////@at-root
//conversation
.container {
  display: flex;
  flex-wrap: wrap;
}

.part-right {
  width: 100%;
  max-width: 325px;
  padding: 143px 72px 0px 56px;
}
.right-flex {
  display: flex;
  width: 112px;
  flex-direction: column;
  margin-top: -20px;
}
.right-flex-1 {
  display: flex;
  width: 156px;
  justify-content: center;
  align-items: center;
  // padding: 0 0px 0 86px;
}
.checkbox-3 {
  max-width: 112px !important;
}
.checkbox-4 {
  max-width: 56px !important;
}
.label-2 {
  display: flex;
}
.mbsc-row-1 {
  padding: 0 18px;
}
.no-flex {
  display: flex;
  flex-direction: column;
  padding: 0 100px 36px 132px;
  margin-top: -30px;
}
.no-flex-1 {
  display: flex;
  flex-direction: column;
  padding: 0 100px 52px 132px;
  margin-top: 10px;
}
.no-check {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.text-check {
  margin-top: -20px;
}
.checkbox-2 {
  padding: 0 50px;
  width: 252px;
}
.sidebarArea {
  flex-shrink: 0;
  width: 260px !important;
  background-color: #fff;
  & .shadow {
    position: relative;
    border-left: rgb(155 0 0);
    box-shadow: 20px -2px 10px 10px;
    box-shadow: 0px 0px 20px rgb(111 111 111 / 20%);
  }
}
.ms-3 {
  font-size: 23px !important;
  color: #697184;
}

.flex-right {
  display: flex;
}

.tweet-title {
  color: #697184;
}
.tweet-page {
  padding: 30px;
}
.tweet-no-flex {
  display: flex;
  padding: 0 0 30px 132px;
  margin-top: -30px;
}
.tweet1-no-flex {
  display: flex;
  flex-direction: column;
  padding: 0 100px 36px 132px;
  margin-top: -30px;
}
.tweet-no-flex-1 {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 38px 0px;
  // margin-top: 10px;
}
.tweet-checkbox-flex {
  display: flex;
  flex-direction: column;
  padding: 44px 0 0px 80px;
}

.btn-flex-tweet {
  display: flex;
  justify-content: end;
}
//media

.media-no-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 0px 0 182px;
  margin-top: -30px;
}
.media-no-flex-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
}
.note p {
  font-size: 24px;
  color: #697184;
  padding: 44px 0 0 0;
}
.tweet-title h3 {
  font-weight: bold;
}
.media-checkbox-flex {
  display: flex;
  flex-direction: column;
  padding: 44px 0 0px 0;
}
.btn-flex-search {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 26px 40px 30px 0;
}
//end media
//expansions
.exp-first-right-flex {
  display: flex;
  width: 112px;
  flex-direction: column;
  margin: -32px 0 0 301px;
}
//expansions end

//user lookup

.user-checkbox-flex {
  display: flex;
  flex-direction: column;
}
.user-no-flex {
  display: flex;
  padding: 0 0px 24px 132px;
  margin-top: -30px;
}
.user-no-flex-1 {
  display: flex;
  flex-direction: column;
  padding: 0 112px 36px 132px;
  margin-top: -30px;
}
.user-no-flex-1 {
  display: flex;
  flex-direction: column;
  padding: 0 0px 40px 57px;
  margin-top: 10px;
}
.checkbox-user {
  padding: 0 50px;
  width: 275px;
}
.user-part-right {
  width: 100%;
  max-width: 285px;
  padding: 40px 0px 0px 80px;
}

//user lookup end

.wrapper {
  margin: 0 auto;
}
.card {
  background-color: #e5e5e5;
  margin-bottom: 30px;
}
.label {
  display: flex !important;
  justify-content: unset;
  flex-wrap: wrap;
  font-size: 24px;
  color: #697184;
}
.label-1 {
  font-size: 24px;
  color: #697184;
}

.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  &.lg-box {
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
  }
}
.button-group .btn {
  margin: 3px;
}
.borderRi {
  border-radius: 18px 0 0 18px;
  box-shadow: inset 0px 0px 20px rgb(111 111 111 / 20%);
}

//login

.main {
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #e5e5e5;
}
.sub-main {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 100%;
  max-width: 390px;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding-top: 30px;
  border-radius: 32px;
  background-color: white;
}
.imgs {
  padding-top: 20px;
  justify-content: center;
  display: flex;
}
.container-image {
  background-color: rgb(223, 221, 221);
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
}
.profile {
  height: 100px;
  width: 100px;
  border-radius: 130px;
}

.input-login {
  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #888;
  border: none;
  outline: none;
  background-color: #fff;
}

.email {
  height: 25px;
  width: 25px;
  position: absolute;
  padding: 14px 0 0 25px;
}

.input-login {
  padding-left: 20px;
  font-size: 20px;
}
.second-input {
  padding-top: 20px;
}

button {
  width: 300px;
  height: 50px;
  border-radius: 60px;
  background-color: #a30000;
  color: white;
  font-size: 25px;
  border: none;
}
.login-button {
  padding-top: 25px;
}

//login end

@media all and (max-width: 720px) {
  .tweet-checkbox-flex {
    padding: 0 10px;
  }

  .tweet1-no-flex {
    display: flex;
    flex-direction: column;
    padding: 0 0 36px 132px;
    margin-top: -30px;
  }
  .exp-first-right-flex {
    display: flex;
    width: 112px;
    flex-direction: column;
    margin: -32px 0 0 55px;
  }
  .right-flex-1 {
    padding: 0;
  }
}
@media all and (max-width: 425px) {
  .contentArea {
    flex-grow: 1;
    background-color: #e5e5e5;
    width: 525px !important;
  }
}
@media all and (max-width: 768px) {
  .tweet-checkbox-flex {
    display: flex;
    flex-direction: column;
    padding: 44px 0 0px 0px;
  }
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1679px !important;
  }
}
